*{
    margin:0px;
    padding:0px;
}

body{
    --grisOscuro:rgb(59, 59, 59);
    --grisClaro:#4A3933;
    --naranjaClaro:#F0A500;
    --naranjaOscuro:#E45826;
    --salmon:#F54748;

    font-family: sans-serif,Helvetica,Arial;
    font-size:16px;
}


section, footer, nav{
    max-width: 1200px;
    margin:0px auto;
}
section{
    text-align: center;
}


nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    background-color:var(--naranjaOscuro);
}
nav a{
    display: block;
    text-decoration: none;
    padding:0.62em 1.25em;
    color:white;
    font-size: 1.2em;
}
nav a:hover{
    color: var(--grisOscuro);
}


.titulo{
    display:inline-block;
    font-size: 1.7em;
    margin:1.8em auto 1em auto;
    padding: 0.3em;
    color:var(--grisOscuro);
    text-align: center;
    transition: all 100ms;
}
.titulo:hover{
    color: white;
    text-shadow: 0px 0px 15px var(--salmon), 0px 0px 10px var(--salmon), 0px 0px 5px var(--grisOscuro);
}


.textError{
    margin-top: 2em;
    font-size: 1.2rem;
    color:red;
}


.cont_proyecto{
    max-width: 1100px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:space-around;
    margin: 0px auto;
}
.proyecto{
    width: 14rem;
    height: 12rem;
    display:flex;
    flex-direction: column;
    margin:0.7em auto;
    background-color: #E6D5B8;
    border-radius: 5px;
    transition: all 200ms;
    overflow: hidden;
}
.proyecto:hover{
    box-shadow:0px 0px 10px var(--salmon);
}
.titulo_proyecto{
    display:block;
    padding:0.3em;
    color:white;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--grisClaro);
}
.desc_proyecto{
    display:block;
    margin:0.3em;
    margin-top: 0.62em;
    color:black;
}
.div_lenguaje_link_proyecto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0.5em 0.5em 0.5em;
}
.div_lenguaje_link_proyecto a, .div_lenguaje_link_proyecto p{
    display: flex;
    padding:0.3em;
    margin-left: 0em;
    border-radius:3px;
    font-size: 0.9em;
    text-decoration: none;
    background-color: var(--grisClaro);
    color:var(--naranjaClaro);
    border: 1px solid var(--grisOscuro);
    transition:all 100ms;
}
.div_lenguaje_link_proyecto a{
    margin-right: 0em;
    margin-left: auto;
}
.div_lenguaje_link_proyecto p:hover, .div_lenguaje_link_proyecto a:hover{
    background-color: var(--naranjaClaro);
    color: var(--grisOscuro);
}   


.description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
    padding: 0px 3em;
}
.subtitulo{
    margin:0.5em 0em;
    font-size: 1.2em;
    color:var(--salmon);
    padding:0px;
    text-align: left;
}
.subtitulo_dos{
    font-size: 1.1em;
    text-align: left;
    padding:0px;
    margin-top:1.5em;
}
.texto{
    padding: 0px;
    font-size: 0.95rem;
    text-align: left;
    border-radius: 3px;
    color:#222;
}
.known_language{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:3em auto;
}
.known_language > div{
    padding: 0.5em;
    margin: 0.2em 0.2em 0px 0px;
    background-color: #343F56;
    color: white;
    border:1px solid #343F56;
    transition:all 100ms;
}
.known_language > div:hover{
    background-color: white;
    color: #343F56;
}
.contact{
    display: flex;
    flex-direction: row;
}
.contact > img:hover{
    background-color: #F54748;
    border-radius: 4px;
}
.contact > p{
    margin:auto auto auto 0.5em;
}


.boton_mostrarTodo{
    display: none;
    margin:3em auto auto auto;
    padding: 0.5em;
    font-size: 1em;
    background-color:var(--naranjaOscuro);
    color:#000;
    border-radius: 3px;
    transition-property: color,background-color;
    transition-duration: 150ms;
}
.boton_mostrarTodo:hover{
    color:#fff;
    background-color: var(--grisClaro);
}


footer{
    width: 100%;
    display:block;
    background-color:var(--grisClaro);
    margin-top:3em;
}
.texto_footer{
    display: block;
    padding:0.5em;
    color:white;
    font-size: 1em;
    text-align: center;
    transition:all 100ms;
}
.texto_footer:hover{
    color: var(--salmon);
}


@media (min-width: 576px){ .cont_proyecto{max-width: 540px;} }
@media (min-width: 768px){ .cont_proyecto{max-width: 720px;} }
@media (min-width: 992px){ .cont_proyecto{max-width: 960px;} }
@media (min-width: 1200px){ .cont_proyecto{max-width: 1100px;} }