html{
    font-size:16px;
}

.subtitulo{
    margin:5px;
    font-size: 1.3rem;
    color:rgb(68, 47, 253);
}

.subtitulo_texto{
    font-size: 1.1rem;
    font-family: 'Times New Roman', sans-serif;
}

.texto{
    margin:10px 20px;
    padding: 0px;
    font-size: 0.95rem;
    text-align: left;
    padding:5px;
    border-radius: 3px;
    color:rgb(0, 0, 0);
}
