
.subtitulo{
    margin:5px;
    font-size: 1.3rem;
    color:rgb(98, 81, 255);
}

.texto{
    margin:10px 20px;
    padding: 0px;
    font-size: 1rem;
    text-align: left;
    padding:5px;
    border-radius: 3px;
    color:rgb(0, 0, 0);
}
