html{
    font-size:16px;
}

body{
    --colorMenu:rgb(59, 59, 59);/*rgb(255, 255, 255);*/
    --fondoClaro:rgb(255, 143, 92);/*rgb(172, 171, 171);*/
    --fondoOscuro:rgb(250, 110, 45);/*rgb(128, 128, 128);*/

    background-color:rgb(231, 231, 231);/*rgb(231, 231, 231);*/
    margin:0px;
    padding:0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main, footer, header{
    max-width: 1000px;
    margin:0px auto;
    text-align: center;
}

.img_menu{
    width: 32px;
    display: block;
    padding:10px;
    margin:0px;
}

.cont_img{
    width: 100%;
    background-color:var(--fondoClaro);
    padding:0px;
    margin:0px;
}


ul{
    list-style-type: none;
}

.lista{
    position: relative;
    display: inline-block;
    width: 100%;
    margin:0px;
    padding:0px;
    background-color: var(--fondoClaro);
    text-align: left;
}

.lista li{
    display: inline-block;
    margin:0px;
}

.lista li a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    padding:10px 20px;
    margin:0px;
    color:#000;
}

.lista li a:hover{
    display: inline-block;
    background-color:var(--fondoOscuro);
}


.lista_lateral{
    position: relative;
    display: inline-block;
    width: auto;
    margin:0px;
    padding:0px;
    text-align: left;
}

.lista_lateral li{
    display: block;
    margin:1px 0px;
    padding: 0px;
    background-color: var(--fondoOscuro);
}

.lista_lateral li a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    margin:0px;
    font-size: 1.2rem;
    color:#000;
}




.titulo{
    display:block;
    font-size: 1.8rem;
    margin-top:30px;
    padding:0px;
    color:rgb(52, 133, 199);
}




.cont_proyecto{
    display:block;
    margin:0px;
    padding:0px;
}

.proyecto{
    width: 12rem;
    height: 10rem;
    display:inline-block;
    margin:1vw;
    padding:0px;
    overflow:hidden;
    background-color: rgb(194, 194, 194);
    border-radius: 3px;
    vertical-align:top;
    position: relative;
}

.proyecto:hover{
    box-shadow:3px 3px var(--colorMenu);
}

.texto_proyecto{
    display:block;
    padding:4px;
    margin:0px;
    font-size: 1rem;
    color:#fff;
    background-color: rgb(59, 59, 59);
}

.desc_proyecto{
    display:block;
    padding:0px;
    margin:5px;
    margin-top: 10px;
    font-size: 1rem;
    color:#000;
}

.lenguaje_proyecto{
    position: absolute;
    padding:2.4px;
    margin: 8px;
    font-size: 0.8rem;
    color:#fff;
    background-color: var(--colorMenu);
    border-radius:3px;
    bottom: 0px;
}

footer{
    background-color:var(--colorMenu);
    color:var(--fondoClaro);
    font-size: 1rem;
    padding:6px;
    margin:5px auto;
}